body {
    /* background-color:   #e6e6fffe!important; */
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.home-backgroung-img {
    height: 400px;
    width: 600px;
    border-radius: 20px;

}

.title {
    text-align: center;
    padding-top: 50px;
    color: white;
}

.home-text {
    text-align: justify;
    font-size: 25px;
    width: 700px;
    padding: 50px;
    color: rgb(0, 0, 0);
    /* box-shadow: 0 0 5px 5px #ccddff; */
    /* background-color: #c4ccdc6f; */
    border-radius: 10px;
    font-weight: 630;
    box-shadow: 2px 1px 1px 2px  gold;
}



.app-information {
    margin-top: 80px;

}

.home-img {
    height: 400px;
    width: 600px;
    border-radius: 20px;
    margin-top: 80px;
}

.main-container {
  /*
    abcdefghijklmnopuvqrstwxyz
  */
}

.main-home-page-container {
  
    background-image: linear-gradient(rgba(129, 126, 126, 0.9), rgba(75, 75, 75, 0.8)),
        url('https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-flower-flower-border-romantic-simple-image_22126.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size:contain;
}

.home-page-container {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.money-img {
    height: 50px;
    display: block;
    margin: 0px auto;
}

.money-card-1 {
    padding: 20px;
    border: 3px solid #8cc20f;
    border-radius: 10px;
    height: 150px;
    width: 300px;
}

.money-card-2 {
    padding: 20px;
    border:3px solid #8cc20f;
    border-radius: 10px;
    height: 150px;
    width: 300px;
}

.feat-img {
    height: 50px;
}

.feat-card {
    text-align: center;
    font-size: 20px;
    color: #b615c2;
    font-weight: bold;
}

.feat-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .home-text {
        font-size: 18px;
        margin-top: -100px;
        width: 360px;
    }

    .home-img {
        height: 250px;
        width: 280px;
        border-radius: 20px;
        margin-top: 0px;
    }

    .money-card-1 {
        padding: 20px;
        border: 3px dashed #ccccff;
        border-radius: 10px;
        height: 150px;
        width: 300px;
        margin-top: -20px;
    }

    .money-card-2 {
        padding: 20px;
        border: 3px dashed #ccccff;
        border-radius: 10px;
        height: 150px;
        width: 300px;
        margin-top: 20px;
    }
}